<div class="win modal-page">
    <div *ngIf="data.isMultiplayer" class="text">
        <p class="neon">{{ data.winner }} est le vainqueur!</p>

        <div *ngIf="data.isWinner; else elseWinner">
            <div class="endGameMessage">
                <p>Vous Avez Gagné!</p>
                <p>Bravo!</p>
            </div>
        </div>
        <ng-template #elseWinner>
            <div class="endGameMessage">
                <p>Vous Avez Perdu.</p>
                <p>Meilleure chance la prochaine fois.</p>
            </div>
        </ng-template>
    </div>
    <div *ngIf="!data.isMultiplayer" class="text neon">
        <p>Vous Avez Gagné!</p>
        <p>Bravo!</p>
    </div>

    <div class="endGameButtons">
        <button class="normal-button" (click)="confirm()">Continuer</button>
        <button class="normal-button" (click)="replay()">Reprise vidéo</button>
    </div>
</div>
