<div class="game-constants-container" *ngIf="gameConstants">
    <div class="game-constants">
        Pénalité l'utilisation d'un indice (entre 5 et 10 secondes):
        <input type="number" (blur)="gameConstants.hint = checkNumber($event, 5, 10)" [(ngModel)]="gameConstants.hint" [min]="5" [max]="10" />
        secondes
    </div>
    <div class="game-constants">
        Durée du compte à rebours (entre 10 et 60 secondes):
        <input
            type="number"
            [(ngModel)]="gameConstants.countDown"
            [min]="10"
            [max]="60"
            (blur)="gameConstants.countDown = checkNumber($event, 10, 60)"
        />
        secondes
    </div>

    <div class="game-constants">
        Temps gagné avec la découverte d'une différence (entre 5 et 10 secondes):
        <input
            type="number"
            [(ngModel)]="gameConstants.difference"
            (blur)="gameConstants.difference = checkNumber($event, 5, 10)"
            [min]="5"
            [max]="10"
        />
        secondes
    </div>
    <button type="button" class="normal-button save-button" (click)="updateGameConstants()" [disabled]="isConstantNull()">
        Sauvegarder les constantes de parties
    </button>
    <button type="button" class="normal-button save-button" (click)="resetGameConstants()">Réinitialiser les constantes de parties</button>
    <button type="button" class="normal-button save-button" (click)="resetBestTimes()">Réinitialiser les meilleurs temps</button>
    <button type="button" class="normal-button save-button" (click)="openGameHistory()">Historique des parties</button>
    <button type="button" class="normal-button save-button">Supprimer l'historique de parties</button>
    <button type="button" class="normal-button save-button" (click)="deleteAllGames()">Supprimer toutes les parties</button>
</div>
