<div class="game-constants-container">
    <div class="game-constants">
        Pénalité l'utilisation d'un indice (entre 0 et 10 secondes):
        <input type="number" (blur)="hintTimeNumber = checkNumber($event, 0, 10)" [(ngModel)]="hintTimeNumber" [min]="0" [max]="10" />
        secondes
    </div>
    <div class="game-constants">
        Durée du compte à rebours (entre 10 et 60 secondes):
        <input type="number" [(ngModel)]="countdownTimeNumber" [min]="10" [max]="60" (blur)="countdownTimeNumber = checkNumber($event, 10, 60)" />
        secondes
    </div>

    <div class="game-constants">
        Temps gagné avec la découverte d'une différence (entre 0 et 10 secondes):
        <input
            type="number"
            [(ngModel)]="differenceFoundTimeNumber"
            (blur)="differenceFoundTimeNumber = checkNumber($event, 0, 10)"
            [min]="0"
            [max]="10"
        />
        secondes
    </div>
    <button type="button" class="normal-button save-button" (click)="updateGameConstants()">Sauvegarder les constantes de parties</button>
</div>
