<body>
    <img id="logo" src="assets/image-title.png" />
    <div id="button-container">
        <button [routerLink]="['/' + routes.StageSelection]" class="buttons">Mode Classique</button>
        <button (click)="openLimitedTimeDialog()" class="buttons">Mode Temps Limité</button>
        <button [routerLink]="['/' + routes.Config]" class="buttons">Configuration</button>
    </div>
    <p id="team-details">Équipe 103: Alexis Nicolas, Elouan Guyon, Jasper Lai, Julien Légaré, Taha-Chahine Hamitouche,
        Sam Younan</p>
</body>