<body>
    <div id="game-title">Trouvez Les Différences</div>
    <img id="logo" src="../../../assets/image-title.png" />
    <div id="button-container">
        <button routerLink="['/classic']" class="buttons">Mode Classique</button>
        <button routerLink="['/limited']" class="buttons">Mode Temps Limité</button>
        <button routerLink="['/config']" class="buttons">Configuration</button>
    </div>
    <p id="team-details">Équipe 103: Alexis Nicolas, Elouan Guyon, Jasper Lai, Julien Légaré, Taha-Chahine Hamitouche, Sam Younan</p>
</body>
