<body>
    <div class="header-button-container">
        <div class="left-header-container">
            <button id="previous" routerLink="/config">Retour</button>
        </div>
        <button id="save" [disabled]="isDisabled" (click)="save()"><mat-icon class="save-image">save</mat-icon></button>
    </div>
    <div id="title-container">
        <div class="line title">____________</div>
        <div class="title">Création de partie</div>
        <div class="line title">____________</div>
    </div>
    <div class="central">
        <input
            type="text"
            class="game-title game-container neon-border"
            #title
            (keyup)="getTitle(title.value)"
            placeholder="Donnez un titre à votre partie"
        />
        <div class="upload-container">
            <div class="original container neon-border">
                <div class="original image">
                    <canvas #canvas1 width="640px" height="480px"></canvas>
                </div>
                <div class="upload-delete">
                    <button id="reset-original" (click)="clearFile(this.myOgCanvas.nativeElement, 'upload-original', this.originalFile)">X</button>
                    <label for="upload-original">
                        Choisir une image de 640*480 de format bmp
                        <input type="file" id="upload-original" class="photo-upload" (change)="fileValidation($event)" accept="image/bmp" />
                    </label>
                </div>
            </div>

            <div class="middle-container">
                <div class="tools-container neon-border">
                    <div class="row-tools">
                        <button><mat-icon class="btn-image">undo</mat-icon></button>
                        <button><mat-icon class="btn-image">rectangle</mat-icon></button>
                    </div>
                    <div class="row-tools">
                        <button><mat-icon class="btn-image">edit</mat-icon></button>
                        <button><img class="btn-image-src" src="assets/eraser.png" /></button>
                    </div>
                    <div class="row-tools">
                        <button><mat-icon class="btn-image">content_copy</mat-icon></button>
                        <button><img class="btn-image-src" src="assets/invert-tool.png" /></button>
                    </div>
                    <div class="color-container">
                        <input type="color" id="color-picker" value="#ff124f" />
                        <label for="color-picker">Choisir une couleur</label>
                    </div>
                    <div class="diff-range-container">
                        <div class="range-container">
                            <input
                                type="range"
                                id="radius-range"
                                [(ngModel)]="radius"
                                min="0"
                                max="15"
                                value="3"
                                step="3"
                                oninput="this.nextElementSibling.value = this.value"
                            />
                            <output>3</output>
                        </div>
                        <label for="radius-range">Rayon du détecteur de différence</label>
                    </div>
                </div>
                <div class="button-container">
                    <label for="upload-original">
                        <input type="file" id="upload-both" class="photo-upload" (change)="fileValidation($event)" accept="image/bmp" />
                        Téléverser deux images
                    </label>
                </div>
            </div>

            <div class="difference container neon-border">
                <div class="different image">
                    <canvas #canvas2 width="640px" height="480px"></canvas>
                </div>
                <div class="upload-delete">
                    <button id="reset-different" (click)="clearFile(this.myDiffCanvas.nativeElement, 'upload-different', this.differentFile)">
                        X
                    </button>
                    <label for="upload-original">
                        Choisir une image de 640*480 de format bmp
                        <input type="file" id="upload-different" class="photo-upload" (change)="fileValidation($event)" accept="image/bmp" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
