<body>
    <div id="title-container"><span class="title">Création de partie</span></div>
    <div class="upload-container">
        <div class="original-container">
            <div class="original-image"></div>
            <button id="upload-original"></button>
            <button id="reset-original"></button>
        </div>

        <div class="tools-container"></div>

        <div class="difference-container">
            <div class="different-image"></div>
            <button id="upload-different"></button>
            <button class="reset-different"></button>
        </div>
    </div>
    <div class="button-container">
        <button id="upload-button-both"></button>
    </div>
</body>
