.dimensions {
    width: 33rem;
    height: 14rem;
    justify-content: space-evenly;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}
button {
    width: 6rem;
    height: 3rem;
    margin-left: 1rem;
    font-size: large;
}
