<body>
    <div class="options">
        <div class="button">
            <div class="icon">
                <!-- changer pour bon icons -->
                <i class="fa-solid fa-house"></i>
            </div>
            <span>Accueil</span>
        </div>

        <div class="button">
            <div class="icon">
                <!-- changer pour bons icons -->
                <i class="fa-solid fa-xmark"></i>
            </div>
            <span>Quitter</span>
        </div>

        <div class="button">
            <!-- changer pour bons icons -->
            <div class="icon">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <span>Informations</span>
        </div>
    </div>

    <div class="flex-game">
        <img id="original" src="https://www.w3schools.com/images/lamp.jpg" />
        <div class="game-options">
            <div id="score">
                <!-- référence : https://codepen.io/Vivekp1118/pen/YzLOOVG -->

                <div class="container">
                    <div class="row">
                        <div class="col col-heading">
                            <h1>SCORE</h1>
                        </div>
                        <div class="col col-display" id="scoreHome">1</div>
                    </div>
                </div>
            </div>
            <div id="timer">
                <div class="timer-box">
                    <div class="display">
                        <div id="time">01:00</div>
                    </div>
                </div>
            </div>

            <div id="hint" (click)="test()">icon</div>
        </div>
        <img id="differences" src="https://www.w3schools.com/images/lamp.jpg" />
    </div>
</body>
