<div class="info modal-page">
    <h1 class="title neon">{{ gameData.gameCardInfo.name }}</h1>
    <div class="info-container">
        <h1 class="neon">
            Difficulté :
            {{ gameData.gameCardInfo.difficulty }}
        </h1>
        <h1 class="neon">Joueurs présents : {{ gameData.numberOfPlayers }}</h1>
        <h1 class="neon">
            Nombre de différences :
            {{ gameData.numberOfDifferences }}
        </h1>
        <!-- TODO add game mode -->
    </div>
    <div class="button-container">
        <button
            [disabled]="gameData.isReplayMode"
            class="normal-button"
            [ngClass]="gameData.isReplayMode ? 'button-replay-disabled' : ''"
            (click)="close()"
        >
            Fermer
        </button>
    </div>
</div>
