<body>
    <div class="nav-bar">
        <div class="options" *ngIf="showNavBar">
            <button class="normal-button home-button option-buttons" type="button" routerLink="/home">
                <mat-icon class="icon">home</mat-icon>
            </button>
            <button class="normal-button option-buttons" type="button" (click)="openInfoModal()">
                <mat-icon class="icon">info</mat-icon>
            </button>
        </div>
        <div class="info-option" *ngIf="showNavBar">
            <button class="normal-button option-buttons" type="button" (click)="quitGame()">
                <mat-icon class="icon">logout</mat-icon>
            </button>
        </div>
    </div>

    <div class="flex-game">
        <div class="image-container neon-border">
            <app-click-event
                #left
                [id]="1"
                [original]="'original'"
                [gameCardId]="this.currentGameId"
                [imagePath]="this.gameCardInfo.originalImageName"
                (handler)="emitHandler($event)"
                (mistake)="handleMistake()"
                *ngIf="this.gameCardInfo"
            ></app-click-event>
        </div>
        <div class="game-options">
            <div id="double-score" *ngIf="is1v1">
                <div class="score">
                    <div class="playerName">{{ player }}</div>

                    <div class="container neon-border">
                        <div class="row">
                            <div class="col col-heading neon">
                                <div class="playerName">SCORE</div>
                            </div>
                            <div class="col col-display" id="scoreHome">{{ currentScorePlayer1 }}</div>
                        </div>
                    </div>
                </div>
                <div class="score">
                    <div class="playerName">{{ opponent }}</div>

                    <div class="container neon-border">
                        <div class="row">
                            <div class="col col-heading neon">
                                <div class="playerName">SCORE</div>
                            </div>
                            <div class="col col-display" id="scoreHome">{{ currentScorePlayer2 }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="score" *ngIf="!is1v1">
                <div class="playerName">{{ player }}</div>

                <div class="container neon-border">
                    <div class="row">
                        <div class="col col-heading neon">
                            <div class="playerName">SCORE</div>
                        </div>
                        <div class="col col-display" id="scoreHome">{{ currentScorePlayer1 }}</div>
                    </div>
                </div>
            </div>

            <div id="timer">
                <div class="timer-box">
                    <div class="display">
                        <div id="time">{{ timesConvertion(this.timerService.currentTime) }}</div>
                    </div>
                </div>
            </div>

            <div class="text-box neon-border">
                <div class="text-area" #scroll [scrollTop]="scroll.scrollHeight">
                    <div class="text-container" *ngFor="let data of messages">
                        <div *ngIf="data.socketId !== 'event'" [ngClass]="data.socketId === socketId ? 'player1 message' : 'player2 message'">
                            {{ data.message }}
                        </div>
                        <div *ngIf="data.socketId === 'event'" class="error message">{{ data.message }}</div>
                    </div>
                </div>
                <div class="answer-area" *ngIf="is1v1">
                    <input
                        type="text"
                        (keydown.enter)="sendMessage()"
                        class="input-field"
                        placeholder="Entrez votre message"
                        [(ngModel)]="messageContent"
                    />
                    <button class="send-button" (click)="sendMessage()"></button>
                </div>
            </div>
        </div>

        <div class="image-container neon-border">
            <app-click-event
                #right
                [id]="2"
                [original]="'different'"
                [gameCardId]="this.currentGameId"
                [imagePath]="this.gameCardInfo.differenceImageName"
                (handler)="emitHandler($event)"
                (mistake)="handleMistake()"
                *ngIf="this.gameCardInfo"
            ></app-click-event>
        </div>
        <div class="hint-button">
            <button class="hint" type="button">
                <mat-icon class="hint-button">search</mat-icon>
            </button>
        </div>
    </div>
</body>
