<body>
    <div class="info-card" *ngIf="showTextBox">
        <div class="info">
            <p class="title">Nom du jeu</p>
            <div class="title description">difficulté : facile</div>
            <div class="title description">joueurs présents : 1</div>
            <div class="title description">nombre de différences : 2</div>
            <div class="title description">temps perdu par indice/gagné par différence : x</div>
        </div>
        <button class="option-buttons" id="info-quit" type="button" (click)="toggleTextBox()">
            <img class="logo" src="../../../assets/icons8-close-window-50.png" />
        </button>
    </div>

    <div class="nav-bar">
        <div class="options">
            <button class="option-buttons home-button" type="button" routerLink="/home">
                <img class="logo" src="../../../../assets/icons8-home-page-48.png" />
            </button>
            <button class="option-buttons" type="button" (click)="toggleTextBox()">
                <img class="logo" src="../../../../assets/icons8-info-48.png" />
            </button>
        </div>
        <div class="info-option">
            <button class="option-buttons" type="button">
                <img class="logo" src="../../../../assets/icons8-close-window-50.png" />
            </button>
        </div>
    </div>

    <div class="flex-game">
        <img id="original" src="../../../assets/temporary-image.webp" />
        <div class="game-options">
            <div id="score">
                <!-- référence : https://codepen.io/Vivekp1118/pen/YzLOOVG -->

                <div class="container">
                    <div class="row">
                        <div class="col col-heading">
                            <h1>SCORE</h1>
                        </div>
                        <div class="col col-display" id="scoreHome">1</div>
                    </div>
                </div>
            </div>
            <div class="test">
                <button class="hint" type="button">
                    <img class="hint-logo" src="../../../assets/loupe.png" />
                </button>
            </div>
            <div id="timer">
                <div class="timer-box">
                    <div class="display">
                        <div id="time">01:00</div>
                    </div>
                </div>
            </div>
        </div>
        <img id="differences" src="../../../assets/temporary-image.webp" />
    </div>
</body>
