<div class="quit modal-page">
    <img src="assets/crying-black-guy-meme.gif" alt="please don't quit :(" />
    <h1 class="neon">Voulez-vous vraiment abandonner la partie ?</h1>
    <div class="option-container">
        <button
            [disabled]="gameData.isButtonDisabled"
            class="normal-button"
            (click)="confirm()"
            [ngClass]="gameData.isButtonDisabled ? 'button-replay-disabled' : ''"
        >
            Abandonner
        </button>
        <button
            [disabled]="gameData.isButtonDisabled"
            class="normal-button"
            (click)="cancel()"
            [ngClass]="gameData.isButtonDisabled ? 'button-replay-disabled' : ''"
        >
            Non
        </button>
    </div>
</div>
