.opponents-container {
    display: center;
    text-overflow: hidden;
    background-color: #360a21;
}

.scrolling-bar {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.ng-star-inserted {
    height: 10rem;
}

body {
    height: 10em;
    width: 20em;
}

.container {
    width: 500px;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.name-entry-title {
    font-size: 2.5em;
}

.normal-button {
    justify-content: center;
    width: 100px;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
}

.hourglass-icon {
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    width: 75px;
    height: 75px;
    color: #fff;
}

.hourglass-icon-container {
    width: 100%;
}

.centered-icon {
    margin-top: 36%;
}

.cancel-button {
    cursor: pointer;
    display: flexbox;
    justify-content: left;
    text-align: center;
    width: 80px;
    height: 40px;
    color: #fff;
    background-color: #ff124f;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.cancel-button:enabled:active {
    background-color: #ff124dc5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cancel-button:hover {
    background-color: #ff124dc5;
}
