<div>
    <button (click)="handleCancel()">Annuler</button>
    <div *ngIf="waitingRoomInfo.isHost; else clientView">
        <div *ngIf="clientsInWaitingRoom.size === 0; else opponents">En attente d'opposants</div>
    </div>
</div>

<ng-template #opponents>
    <div *ngFor="let opponentId of clientsInWaitingRoom.keys()" class="opponents-container">
        <p class="text">"{{ clientsInWaitingRoom.get(opponentId) }}" veut rejoindre votre partie</p>
        <div class="opponent-options">
            <button (click)="acceptOpponent(opponentId)" class="normal-button button">Accepter</button>
            <button (click)="declineOpponent(opponentId)" class="normal-button button">Refuser</button>
        </div>
    </div>
</ng-template>

<ng-template #clientView> En attente de la confirmation de l'hôte </ng-template>
