.header {
    display: flex;
    color: white;
    font-size: 23px;
    height: 10%;
}

app-game-card-selection {
    margin-bottom: 40px;
    scale: 0.9;
}
#previous {
    display: inline-block;
    height: 4rem;
    width: 10%;
    margin: 1%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff124f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
#previous:hover {
    background-color: #ff124dc5;
}

#previous:active {
    background-color: #ff124dc5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.game-cards-container {
    height: 80%;
    width: 100%;
    display: grid;
}

.config {
    grid-template-columns: 33% 33% 33%;
}

.selection {
    grid-template-columns: 50% 50%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 50px;
}

.navigate-cards-container {
    display: flex;
    justify-content: space-around;
}

.navigate-button {
    height: 6rem;
    width: 16rem;
}

.normal-button:disabled,
.normal-button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

button {
    font-size: x-large;
}
