<div class="info-card name-input">
    <div class="info">
        <p class="title">Entrez votre nom</p>
    </div>
    <input type="text" class="name-field" placeholder="Entrez votre nom" [(ngModel)]="playerName" cdkFocusInitial (keyup.enter)="validateName()" />
    <p class="title" *ngIf="showNameErrorMessage">Nom invalide</p>
    <p class="title" *ngIf="awaitingPlayer">En attente d'un autre joueur</p>
    <button class="option-buttons win-button" id="info-quit" type="button" (click)="validateName()">
        <mat-icon class="icon">check</mat-icon>
    </button>
</div>
