<div class="info-card name-input">
    <div class="info">
        <p class="title">{{this.isChosingGameTitle ? 'Entrez le nom de la partie' : 'Entrez votre nom'}} </p>
    </div>
    <input type="text" class="name-field"
        placeholder="{{this.isChosingGameTitle ? 'Entrez le nom de la partie' : 'Entrez votre nom'}}"
        [(ngModel)]="playerName" cdkFocusInitial (keyup.enter)="validateName()" />
    <p class="title" *ngIf="showNameErrorMessage">Nom invalide</p>
    <button class="option-buttons win-button" type="button" (click)="validateName()">
        <mat-icon class="icon">check</mat-icon>
    </button>
</div>