.container {
    width: 600px;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: row;
}

.name-field {
    width: 10em;
    height: 2em;
    font-size: x-large;
}

.normal-button {
    justify-content: center;
    width: 60px;
}
