.info-card {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 15rem;
    font-size: xx-large;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    display: flex;
    flex-direction: row;
}

.name-field {
    width: 11rem;
    height: 3rem;
    font-size: x-large;
}
