.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 900px;
    height: 800px;
    background: linear-gradient(0.25turn, #ff5f6d, #ffc371);
}
.diff-image {
    display: flex;
    justify-content: center;
}
img {
    width: 640px;
    height: 480px;
    top: 50%;
    left: 50%;
}
.info-diff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    color: white;
    font-style: bold;
}
