.difficulty-container {
    flex-basis: 10%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 5%;
    display: table;
    border-radius: 15px;
}

.configuration {
    font-size: large;
    padding-left: 5%;
    color: white;
}

.configuration > div {
    padding-top: 15%;
    padding-left: 10%;
    font-weight: bold;
}
.difficult {
    background-color: rgba(255, 0, 0, 0.87);
    box-shadow: 0 0 7px rgba(255, 0, 0, 0.87), 0 0 20px rgba(255, 0, 0, 0.87), 0 0 10px rgba(255, 0, 0, 0.87);
    border: solid 3px rgba(255, 0, 0, 0.87);
}
.easy {
    background-color: rgba(0, 255, 0, 0.911);
    box-shadow: 0 0 7px rgb(0 255 0 / 91%), 0 0 20px rgb(0 255 0 / 91%), 0 0 10px rgb(0 255 0 / 91%);
    border: solid 3px rgba(0, 255, 0, 0.911);
}

#difficulty {
    color: white;
    font-size: large;
    font-weight: bold;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#title-container {
    display: flex;
    flex-direction: row;
}
.nom {
    flex-basis: 15%;
    font-size: 25px;
    position: relative;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 7.5px;
    margin-bottom: 10px;
    width: 189px;
    margin-left: 2rem;
    letter-spacing: 0.1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#top3-container {
    flex-basis: 15%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;

    border: solid black 2px;
    background: #c39ced;
    border-radius: 10px;
}

.mat-icon {
    vertical-align: middle;
}

.top3 {
    margin-top: 2%;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.flex-row {
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 17.5%;
    margin-right: 7%;
}

.ranking {
    border: 2px rgb(255, 255, 255) solid;
    flex-basis: 50%;
    padding: 0;
    color: white;
}

.gametype {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.solo {
    background-color: #3849ff;
    border: #3849ff 1px solid;
}

.vs {
    background-color: #fa5c5c;
    border: #fa5c5c 1px solid;
}

.times {
    padding-left: 5%;
    padding-bottom: 20%;
    font-size: smaller;
    list-style-position: inside;
}
.card {
    height: 25rem;
    width: 35rem;
    border-style: solid;
    border-width: 2px;
    border: 0.2rem solid #eee;
    border-radius: 2rem;
    position: relative;
    background-color: rgb(0, 0, 0);
}

.card:hover {
    border: 0.3rem solid #fff;
}

.photo {
    flex-basis: 75%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.option-button {
    height: 3rem;
    width: 8rem;
}
