<div class="card">
    <div class="nom">Nom de la fiche</div>
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" class="picture" />
    <div class="container">
        <button>Difficile</button>
        <div class="flex-row">
            <ol type="1" class="solo">
                <li>First</li>
                <li>Second</li>
                <li>Third</li>
            </ol>
            <ul class="vs">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
    <button class="button">Jouer</button>
    <button class="button">Créer</button>
</div>
